{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
        <div class="sidebar">
            <a href="/bblsrt" class="btn">Bubble sort</a>
            <a href="/selecsrt" class="btn">Selection sort</a>
            <a href="/insersrt" class="btn">Insertion sort</a>
            <a href="/mergesrt" class="btn">Merge sort</a>
            <a href="/linsrch" class="btn">Linear search</a>
            <a href="/binsrch" class="btn">Binary search</a>
            <a href="/towofh" class="btn">Tower of Hanoi</a>
        </div>
</div>
{% endblock %}